@model WebApplication4.Models.History
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/chosen.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <title>Index</title>
</head>
<body>
    @Html.Partial("_Navbar")
    <div>
        @using (Html.BeginForm("SaveTranslation", "Home"))
            {
            @Html.Partial("_Translator")
            <input id="btnSave" value="Translate & Save" class="btn btn-default" />
            @Html.HiddenFor(m => m.DestinationLanguage, new { @id = "hfDestinationLanguage" })
           
            @Html.HiddenFor(m => m.SourceLanguage, new {@id="hfSourcceLanguage" })
            @Html.HiddenFor(m => m.SourceText, new { @id = "hfSourceText" })

        }
        <script type="text/javascript">

        </script>
    </div>
</body>
</html>
